<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="<%= I18n.locale %>"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= t('title')%></title>
        <meta name="description" content="<%= t('desc') %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag "main" %>
        <%= javascript_include_tag 'vendor/modernizr-2.6.2.min', :async => "" %>
        <%= partial "partials/fonts" %>
        <link rel="alternate" hreflang="fr" href="<%= switch_locale("fr")%>">
        <link rel="alternate" hreflang="en" href="<%= switch_locale("en")%>">
    </head>
    <body <%= "class=index" if is_home? %>>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <%= partial "partials/nav" %>
        <%= yield %>
        <%= partial "partials/footer" %>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.1.min.js"><\/script>')</script>

        <%= javascript_include_tag 'main' %>

    </body>
</html>
