<div class="home">
  <div class="home-inner">
    <div class="home-copy content">
      <p><%= t('home.subtitle')%></p>
      <h1><%= t('home.title')%></h1>
      <div>
        <% link_to t('support.petition') do %>
          <%= t('home.sign') %><i class="fa fa-pencil-square-o"></i>
        <% end %>
        <a href="#support"><%= t('home.share') %><i class="fa fa-share"></i></a>  
      </div>
    </div>
    <a class="scroll" href="#luxleaks"><i class="fa fa-arrow-down"></i><span class="sr-only"><%= t('home.more') %></span></a>
  </div>
</div>
