<div class="home">
  <div class="home-inner">
    <div class="home-copy content">
      <p><%= t('home.subtitle')%></p>
      <h1><%= t('home.title')%></h1>
      <div>
        <a href="#luxleaks"><%= t('home.about') %><i class="fa fa-book"></i></a>
        <a href="#support"><%= t('home.support') %><i class="fa fa-pencil-square-o"></i></a>
      </div>
    </div>
    <a class="scroll" href="#luxleaks"><i class="fa fa-arrow-down"></i><span class="sr-only"><%= t('home.more') %></span></a>
  </div>
</div>
