<section id="newsletter" class="newsletterform anchor">
  <h2 class="sr-only"><%= t("newsletterform.sub.title") %></h2>
  <div class="content">
    <p class="newsletterform_invite"><%= I18n.t("newsletterform.sub.desc") %></p>
    <form id="news-sub" class"newsletterform__form" data-list="<%= I18n.t("newsletterform.list") %>">
      <label for="email" class="sr-only"><%= I18n.t("newsletterform.label.email") %></label>    
      <input type="email" name="email" id="news-sub-email" placeholder="email@example.com" required aria-required="true"
      ><input type="submit" value="<%= I18n.t("newsletterform.sub.submit") %>"/>
    </form>
    <div id="news-sub-response" class="newsletterform_alert" role="alert" aria-hidden="true"
    data-success="<%= I18n.t("newsletterform.sub.success") %>" data-error="<%= I18n.t("newsletterform.error") %>">
    &nbsp;
    </div>
  </div>
</section>

