<section id="newsletter" class="newsletterform anchor">
  <h2 class="sr-only"><%= t("newsletterform.sub.title") %></h2>
  <div class="content">
    <p class="newsletterform_invite"><%= I18n.t("newsletterform.sub.desc") %></p>


    <form id="subscribe-form" method="post" action="https://my.sendinblue.com/users/subscribeembed/js_id/2l89w/id/<%= (I18n.locale == I18n.default_locale) ? '1' : '4' %>" onsubmit="return false;">
      <label for="news-sub-email" class="sr-only"><%= I18n.t("newsletterform.label.email") %></label>
      <input type="hidden" name="from_url" value="yes">
      <input type="hidden" name="js_id" value="2l89w">
      <input type="hidden" name="listid" value="11">
      <input type="email" name="email" id="news-sub-email" placeholder="email@example.com" required aria-required="true" data-msg-empty="<%= I18n.t("newsletterform.msg.empty") %>" data-msg-invalid="<%= I18n.t("newsletterform.msg.invalid") %>"
      ><input type="submit" value="<%= I18n.t("newsletterform.sub.submit") %>"/>
    <div id="loading-gif">
      <img src="https://my.sendinblue.com/public/theme/version4/assets/images/loader_sblue.gif" alt="">
    </div>
    </form>
    <div id="form-alert" class="newsletterform_alert" role="alert" aria-hidden="true">
    &nbsp;
    </div>
  </div>
</section>

