<section id="supporters" class="anchor">
<div class="content">
  <h2><%= t('supporters.heading') %></h2>
  <p><%= t('supporters.section1') %>:</p>
  <ul>
    <% data.supporters.ppjf.each do |name| %>
    <li><%= name %></li>
    <% end %>
  </ul>
  <p><%= t('supporters.section2') %>:</p>
  <ul>
    <% data.supporters.more.each do |name| %>
    <li><%= name %></li>
    <% end %>
  </ul>
</div>
  
</section>
