<section id="support" class="anchor">
  <div class="content">
    <div class="info">
      <h2><%= t('support.title') %></h2>
      <p><%= t('support.text') %></p>
      <% link_to t('support.petition') do %>
            <span><%= t('support.sign') %></span><i class="fa fa-pencil-square-o"></i>
      <% end %>
    </div>
    <div class="share">
      <ul class="socio-links">
        <li class="twttr"><a class="btn" target="_blank" href="//twitter.com/share?url=<%= base_url %>&text=<%= t('support.twitter') %>&via=<%= data.info.twitter %>" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;">Twitter</a></li>
        <li class="ggl"><a class="btn" target="_blank" href="//plus.google.com/share?url=<%= base_url %>&hl=<%= I18n.locale%>" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;">Google+</a></li>
        <li class="email"><a class="btn" target="_blank" href="mailto:?subject=<%= t('support.email')%>&body=<%= base_url %>">E-Mail</a></li>
        <li class="fcbk"><a class="btn" target="_blank" href="//www.facebook.com/sharer.php?u=<%= base_url %>&t=<%= t('support.facebook') %>" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">Facebook</a></li>
      </ul>
    </div>
  </div>
</section>
