---
layout: page
---
<section class="press">
  <h1><%= I18n.t("press.title") %></h1>

  <h2><%= I18n.t("press.newsletters") %></h2>
  <ul>
    <% data.newsletters.each do |item| %>
    <% if (item[I18n.locale]) %>
    <li class="pressitem">
      <% num = data.newsletters.size - data.newsletters.index(item) %>
      <time datetime="<%= item.date.strftime('%Y-%m-%d') %>"><%= I18n.l(item.date.to_time, format: :short) %></time>
      <span class="pressitem__cat"><%= I18n.t("press.newsletter") %><%= num %></span>
      <span class="pressitem__link">
      <%= link_to I18n.locale.to_s == 'fr'? item.fr : item.en, i18n_path('/newsletter/news-'+num.to_s)%>
      </span>
     </li>
    <% end %>
    <% end %>
  </ul>

  <h2><%= I18n.t("press.pressbook") %></h2>
  <ul>
  <% blog(I18n.locale.to_s).articles.select {|a| (%w(pr article)).include? a.data.category}.each do |article| %>
    <li class="pressitem">
      <time datetime="<%= article.date.strftime('%Y-%m-%d') %>"><%= I18n.l(article.date.to_time,format: :short) %></time>
      <span class="pressitem__cat"><%= I18n.t("press.#{article.data.category}") %></span>
      <span class="pressitem__link">
        <a href="<%= article.url %>"><%= article.title %></a>
      </span>
    </li>
  <% end %>
  </ul>

  <h2><%= I18n.t("press.coverage") %></h2>
  <ul>
    <% data.press.each do |item| %>
    <% if (item[I18n.locale]) %>
    <li class="pressitem">
      <time datetime="<%= item.date.strftime('%Y-%m-%d') %>"><%= I18n.l(item.date.to_time, format: :short) %></time>
      <% if (item.source) %>
      <span class="pressitem__source"><%= item.source %></span>
      <% end %>
      <span class="pressitem__info"
          ><%= I18n.t("press.cat.#{item.cat}") %>
          <% if (item.lang) %>
          <%= "<span class=\"pressitem__info__lang\">#{I18n.t("lang.#{item.lang}")}</span>" if !current_locale? item.lang %><%= "<span class=\"pressitem__info__from\">#{I18n.t "press.from", from:item.from}</span>" if item.from != nil %>
          <% end %>      
      </span>
      <span class="pressitem__link">
      <%= link_to I18n.locale.to_s == 'fr'? item.fr : item.en, item.url %>
    </span>
    </li>
    <% end %>
    <% end %>
  </ul>
</section>
