---
layout: page
---
<section class="supporters">
  <h1><%= t("supporters.title") %></h1>

  <h2><%= t("supporters.organisations") %></h2>
  <ul class="supporters__list">
    <% data.supporters.organisations.each do |member| %>
    <li>
      <% if member.link != nil %><a href="<%= member.link %>"><% end %>
      <%= (I18n.locale == I18n.default_locale) ? member.fr : member.en %>
      <% if member.cat == 'ppfj' %>
      <sup class="supporters__noteref">*</sup>
      <% end %>
      <% if member.link != nil %></a><% end %>
    </li>
    <% end %>
  </ul>
  <ul class="supporters__footnotes" role="list">
  <li><%= t("supporters.cat_ppfj", :link => "<a href=\"http://www.stopparadisfiscaux.fr/qui-sommes-nous/article/les-15-membres-de-la-plateforme\">"+t("supporters.cat_ppfj_link")+"</a>") %></li>
  </ul>


  <h2><%= t("supporters.personalities") %></h2>
  <p><%= t("supporters.personalities_desc") %></p>  
  <ul class="supporters__list">
    <% data.supporters.personalities.each do |member| %>
    <li>
      <% if member.link != nil %><a href="<%= member.link %>"><% end %>
      <%= member.name %>
      <sup class="supporters__noteref">
      <% if member.cat == 'libe' %>*<% end %>
      <% if member.cat == 'guardian' %>**<% end %>
      <% if member.cat == 'contact' %>***<% end %>
      </sup>
      <% if member.link != nil %></a><% end %>
      <span><%= (I18n.locale == I18n.default_locale) ? member.fr : member.en %></span>
    </li>
    <% end %>
  </ul>

  <ul class="supporters__footnotes" role="list">
  <li><%= t("supporters.cat_libe", :link => "<a href=\"http://www.liberation.fr/futurs/2015/03/09/soutien-a-antoine-deltour-lanceur-d-alerte-luxleaks_1217470\">"+t("supporters.cat_libe_link")+"</a>") %></li>
    <li><%= t("supporters.cat_guardian", :link => "<a href=\"http://www.theguardian.com/world/2014/dec/23/luxleaks-tax-source-should-not-be-charged\">"+t("supporters.cat_guardian_link")+"</a>") %></li>
    <li><%= t("supporters.cat_contact") %></li>
  </ul>

</section>
