---
layout: page
---
<section class="supporters">
  <h1><%= t("supporters.title") %></h1>
  <% supporters = (I18n.locale == I18n.default_locale) ? data.supporters_fr : data.supporters_en %>
  <% supporters.each do |section| %>
  <h2><%= section.title %></h2>
  <% section.groups.each do |group| %>
  <p><%= group.desc %></p>
  <ul>
    <% group.members.each do |member| %>
    <li>
      <% if member.link != nil %><a href="<%= member.link %>"><% end %>
      <%= member.name %>
      <% if member.link != nil %></a><% end %>
      <% if member.desc != nil %>
        <span><%= member.desc %></span></li>
      <% end %>
    <% end %>
  </ul>
  <% end %>
  
  <% end %>
</section>
